.payment-method {
  padding: 16px;
  margin: 0 -8px;
}

.payment-methods__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: -8px 0 12px 0px;
}

.payment-method-item {
  flex: 1 1 calc(50% - 16px);
  margin: 8px;
}

.pay-h2 {
  margin: -24px 0px 24px 15px;
}

.profile-content {
  padding-bottom: 0;
}

.payment-method-item {
  background: #262639;
  border: 1px solid rgba(#fff, .05);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  position: relative;
  transition: background .2s;

  &.add-new {
    cursor: pointer;
    justify-content: center;
    background: transparent;
    border: 2px dashed #5B4CB8;
    color: #5B4CB8;
    .payment-icon.add {
      background: transparent;
      span { font-size: 24px; }
    }
    &:hover { background: rgba(#5B4CB8,.08); }
  }
}

.payment-icon {
  width: 42px; height: 42px; flex-shrink: 0;
  border-radius: 10px;
  display:flex; align-items:center; justify-content:center;
  &.yandex { background:#ff5d37; }
  &.mir    { background:#2f7d3d; }
  &.pay    { background:#4f4ed1; }
  span { color:#fff; font-size:26px; }
}

.payment-info {
  flex:1; margin-left: 16px;
  .payment-label { font-size: 11px; text-transform: uppercase; opacity:.65; }
  .payment-name  { font-size: 16px; }
}

.main-badge {
  position:absolute; right:64px; top:10px;
  background:#5B4CB8; padding:2px 8px;
  font-size:11px; border-radius:6px; opacity:.9;
}

.actions {
  display: flex;
  gap: 12px;

  .pay-btn{
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #404057;
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;

    &:hover {
      background: #5B4CB8;
      transform: scale(1.1);
    }
  }
}

.payment-method-item .actions button[title="Сделать основной"].active {
  background: #5B4CB8;
}